@model Entities.OrderViewModel


@{

    Layout = "~/Views/Shared/_LayoutOrderMenu.cshtml";

    ViewData["Title"] = "Card";

}

    <div class="container" style=" padding-top:5%; padding-left:5%;">

        @{
            var preTaxOrderAmount = "$" + String.Format("{0:n}", Model.Order.PreTaxAmount);
            var tax = "$" + String.Format("{0:n}", Model.Order.Tax);
            var orderAmount = "$" + String.Format("{0:n}", Model.Order.TotalAmount);
        }
        <div style="position:fixed; left:60%; top:25%">
        <p style="text-align:right; ">Total Pre-Tax Amount:<span style="color:goldenrod"> <strong>@preTaxOrderAmount</strong></span> </p>
        <p style="text-align:right; ">Tax:<span style="color:goldenrod"> <strong>@tax</strong></span> </p>
        <hr width="20%" style="text-align:right; margin-right:0; border-top: 1px dotted black; " />
        <p style="text-align:right; ">Total Order Amount:<span style="color:goldenrod"> <strong>@orderAmount</strong></span> </p>
        </div>
        <h1>Payment</h1>

        <hr />

        <div class="row">

            <div class="col-md-4">

                <form  asp-action="View">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                    <div class="form-group">

                        <label name="CustomerName" class="control-label">Card Holder Name</label>

                        <input name="CustomerName" class="form-control" />

                        <span class="text-danger"></span>

                    </div>

                    <div class="form-group">

                        <label name="CardNumber" class="control-label">Card Number</label>

                        <input name="CardNumber" class="form-control" />

                    </div>

                    <div class="form-group">

                        <div class="form-group">

                            <label name="CustomerName" class="control-label">Card Type</label>

                            <img src="https://wws-weblinc.netdna-ssl.com/media/W1siZiIsIjIwMTcvMTEvMjkvMDkvNTUvMjMvMTYxL2NyZWRpdF9jYXJkX21ldGhvZHNfdjIuanBnIl0sWyJwIiwib3B0aW0iXV0/credit-card-methods-v2.jpg?sha=df358c639ca1d523" ,width="200">

                        </div>

                        <div class="form-group">

                            <label name="CardType" class="control-label">CardType</label>

                            <select name="CardType">


                                @for (int i = 0; i < Model.CardTypeList.Count; i++)
                                {
                                    <option value="@Model.CardTypeList[i].CardTypeId">@Model.CardTypeList[i].Type</option>
                                }
                            </select>

                        </div>



                        <label name="Address" class="control-label">Address</label>

                        <input name="Address" class="form-control" />

                        <span name="Address" class="text-danger"></span>

                    </div>

                    <div class="form-group">

                        <label namer="State" class="control-label">State</label>

                        <input name="State" class="form-control" />


                    </div>

                    <div class="form-group">

                        <label name="ZipCode" class="control-label">Zip Cope</label>

                        <input name="ZipCode" class="form-control" />

                    </div>

                    <div class="form-group">

                        <label name="SecurityCode" class="control-label">Security Code</label>

                        <input name="SecurityCode" class="form-control" />

                    </div>

                    <div class="form-group">

                        <label name="ExpDate" class="control-label">Expiry Date</label>

                        <input name="ExpDate" type="date" class="form-control" />

                    </div>

                    <div class="form-group">

                        <input type="submit" value="Pay" class="btn btn-primary" />

                    </div>

                </form>

            </div>

        </div>

    </div>
